@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html, body { 
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  /*overflow: hidden;*/
  overflow: hidden; position: fixed;
}

#map { 
  height: 100%;
  width: 100%;
  
}

#search_bar {
  display: flex;
}

#sidebar {
  text-align: top;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
  margin: 0px;
}
#results_table {
  max-height: 100%;
  max-width: 100%;
  margin: 0px;
  border-collapse: collapse;

}
.table_cell {
  font-family: Poppins;
}

:root {
    --map-tiles-filter: brightness(0.6) invert(1) contrast(3) hue-rotate(200deg) saturate(0.3) brightness(0.7);
}

@media (prefers-color-scheme: dark) {
    .map-tiles {
        filter:var(--map-tiles-filter, none);
	}
}