<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/homepage.css">
    <link rel="icon" type="image/x-icon" href="/static/img/icon.png">
    <title>AC Health Code Violations</title>
  </head>
    
  <body>  
    <div id="text_div">
      <h1>Alameda County Restaurant Health Code Violations</h1>
      <p id="description">Our project is based around helping people find the health and safety of the various restaurants around their community. This map will show them real-time data on their favorite restaurants and these restaurants’ health code violations if any. </p>
      <form action="/map">
        <input type="submit" class="link_button" value="Launch the map" />

      </form>
    </div>
  </body>
</html>