<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/launch.css">
    <link rel="icon" type="image/x-icon" href="/static/img/icon.png">
    <title>AC Health Code Violations</title>
  </head>
    
  <body>
    <div class="page">
      <div id="right_div">
        <h1 id="hook">Food Safety<br> Reimagined.</h1>
        <!--<form action="/map">
          <input type="submit" class="link_button" value="Launch the map" />
  
        </form>-->
        <p id="desc1">Know what you eat.</p>
        
      </div>
      <div id="left_div">
        <img id="map_img" src="/static/img/map.svg" alt="Map Image">

      </div>
    </div>
  </body>
</html>